*{
    padding: 0px;
    margin: 0px;    
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); 
  }
    
.navbar{
    position: relative;
    max-width: 100vw;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
}

      /* ----  FOR WEB NAME TAG AND NOTE ONLY------- */
.web-name{
    padding-top: 4px; 
    background-color: rgb(227, 227, 228);
    color:#fa1cdc;
    text-align: center;
    align-items: center;
    font-size:70px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Kaisei HarunoUmi', serif;
    box-shadow: 3px 6px rgb(39, 37, 37);
    font-weight: bold;
       
}  
#note{
    padding-top: 10px;   
    color: rgb(235, 73, 8);
    text-align: center;
    font-size: 24px;
    margin-right: 15px;
}
#online{
    color: rgb(248, 66, 111);
    align-items: center;
    text-align: center;
    padding-top: 20px;
}
.container{

    max-height: auto;  
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
}    

    /* --------- services images here------ */
.row{

    margin-top: 30px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around; 
} 

.col-2{
  
    flex-basis:auto;
    width: 20%;
}
.col-2 P{
    color: rgb(71, 77, 74);
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}
.col-2 img{
  
    height: auto;
    width: 100%;
    border-radius: 10%;
    display: inline;

}
    /* <!-- interrior and exterrior images --> */

.row-1{

    margin-top: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around; 
} 

.col-3{

    flex-basis:auto;
    width: 80%;
}  
.col-3 img{
    
    height: auto;
    width:95%;
    border-radius: 10%;
    box-shadow: 6px 2px 0px 1px rgb(218, 218, 2);  
    display: inline;

}
#interrior{
    color: darkgoldenrod; 
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.col-3 img:hover{
  
    transform: scale(1.5);
}

                /* <!-- BRANDS IMAGES HERE!!!! --> */

.brands{
    background-color: rgb(103, 103, 109);
    margin-top: 0px;
    margin-left: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
   
} 

.col-4{

    flex-basis:auto;
    width: 80%;
    
}
   
.col-4 img{
    
    height: auto;
    width:95%;
    border-radius: 10%;
    display: inline;

}
     /* addres of shop and doveloper */



.shop-address{
    background-color: rgb(103, 103, 109);
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.doveloper{
    color: bisque; 
    background-color: rgb(41, 41, 49); 
    font-size: 10px;  
    align-items: center;
    text-align: center;
    list-style: none;
    font-style: none;
}
      

/*     
       /* media query for max-width 850px */
 @media screen and (max-width: 600px) { 

 
    .web-name{
    padding-top: 4px; 
    color:#2f03f5;
    text-align: center;
    align-items: center;
    font-size:20px;
    font-weight: bold;

    }
    
    .col-2 P{
        font-size: 11px;
        font-weight: 500;
        align-items: center;
        text-align: center;
    }
    #note{
        padding-top: 15px;   
        color: rgb(216, 58, 19);
        text-align: center;
        text-align: center;
        font-size: 14px;
    }
    #online{

        font-size:12px;
        font-weight: bold;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .row{

        margin-top: 10px;
        display:flex;
        align-items: center;
        justify-content: space-around;
       
    } 
    
    .col-2{
        flex-basis:auto;
        border-radius: 30px;
        width: 100%;
    
    }
    .col-2 P{
        font-size: 8px;
        font-weight: 700;
        align-items: center;
        text-align: center;
    }
    .col-2 img{
      
        height: auto;
        width: 100%;
        border-radius: 10%;
        display: inline;
    
    }
    

        
    /* --------INTERRIOR AND EXTERRIOR IMAGES------- */
    
    #interrior{
        font-size: 25px;
        color: rgb(170, 5, 60); 
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    .row-1{

        margin-top: 0px;
        display: block;
        justify-content: space-around;
       
    } 
    
    .col-3{
        flex-basis:auto;
        width: 100%;
    }
    
    .col-3 img{

        margin-left: 30px;
        margin-right: auto;
        height: auto;
        width:80%;
        border-radius: 10%; 
    
    } 
}
    
   
/* @media screen and (min-device-width: 590px) and (max-device-width: 1000px)  */


@media screen and (min-device-width: 590px) and (max-device-width: 1000px) { 
    .web-name{
        padding-top: 4px; 
        color:#f58403;
        text-align: center;
        align-items: center;
        font-size:35px;
        font-weight: bold;    
        }
        #note{
            padding-top: 15px;   
            color: rgb(5, 168, 133);
            text-align: center;
            text-align: center;
            font-size: 18px;
        }
        #online{
    
            font-size:20px;
            font-weight: bold;
            align-items: center;
            text-align: center;
            padding-top: 20px;
        }

    #interrior{
        font-size: 20px;
        color: rgb(228, 39, 102); 
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
}
   
   
